.header{
    width: 1920px;
    height: 117px;
    position: absolute;
    font-size: 36px;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.site__header{
    width: 1110px;
    display: flex;
    flex-direction: column;
}

.contacts{
    display: flex;
    gap: 801px;
    margin-top: 30px;
}

.contacts p{
    color:#FFFFFF;
    font-family: "Montserrat";
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    
    
}

.navigation{
    display: flex;
    gap: 0;
    margin-top: 27px;
}

.navigation button{
    width: 277.5px;
    height: 47px;
    background: none;
    border-color: #FFFFFF;
    border-left: 0;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

.navigation button:nth-child(4){
    border-right: 0;
}

.section__one{
    background-image: url(./img/bgc.png);
    width: 1920px;
    height: 900px;
    
}

.section__one-btn{
    display: flex;
    gap: 20px;
    margin-left: 752px;
    padding-top: 700px;
}

.section__one-btn button{
    width: 203px;
    height: 50px;
    top: 700px;
    left: 752px;
    padding: 15px 30px 15px 30px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #FFFFFF;
    background: #99862A;
    border: none;
}

.section__two{
    width: 1920px;
    height: 856px;
    background-color: #282828;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section__two-content{
    width: 1110px;
    height: 656px;
    border: #C4C4C4 solid 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content__title{
    font-family: Playfair Display;
    font-size: 36px;
    color: #FFFFFF;
    padding-top: 40px;
}

.section__two-content hr{
    width: 160px;
    border: #FFFFFF solid 0.5px;
    margin-top: 20px;
}

.section__two-content p{
    width: 733px;
    font-family: Montserrat;
    font-size: 16px;
    line-height: 24px;
    padding-top: 30px;
    text-align: center;
    color: #FFFFFF;
}

.section__two-content img{
    padding-top: 40px;
}

.section__three{
    width: 1920px;
    height: 1038px;
    background-color: #E6E3C4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section__three-content{
    width: 1110px;
    height: 878px;
    border: #998431 solid 1px;
    border-left: none;
    border-right: none;
    display: grid;
    grid-template-columns: auto auto;
    gap: 120px;
}

.section__three-contentLeft{
    flex-direction: column;
}

.section__three-contentLeft h4{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;  
    padding-top: 30px;
}

.section__three-contentLeft h1{
    font-family: Playfair Display;
    font-size: 36px;
    line-height: 54px;
    color: #282828;    
}

.section__three-contentLeft hr{
    width: 160px;
    margin-left: 0;
    padding-bottom: 10px;
}

.section__three-contentLeft p{
    padding-top: 30px;
    padding-bottom: 30px;
    width: 445px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #282828;
}

.section__three-contentLeft button{
    width: 254px;
    height: 50px;
    background-color: #998431;
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.05em;
    text-align: center;
    border: none;   
    cursor: pointer;
}

.section__three-contentRight{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 60px;
}

.section__three-contentRightPhoto{
    display: flex;
    gap: 30px;
}

.section__four{
    width: 1920px;
    height: 767px;
    background: #282828;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section__four-border{
    width: 1110px;
    height: 538px;
    border: #C4C4C4 solid 3px;
    display: grid;
    grid-template-columns: auto auto auto;
}

.section__four-borderOne{
    margin-left: -35px;
    margin-top: -70px;
}

.section__four-borderTwo{
    width: 541px;
    margin-right: 60px;
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -40px;
}

.section__four-borderTwoTitle{
    width: 490px;
    height: 74px;
    background: #282828;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.section__four-borderTwoTitle h1{
    font-family: Playfair Display;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    font-weight: 600;
}

.section__four-borderTwo hr{
    width: 118px;
}

.section__four-borderTwo p{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    margin-top: 30px;
}

.borderTwo__inputOne{
    display: flex;
    gap: 30px;
}

.borderTwo__inputOne input{
    width: 255px;
    height: 30px;
    border: none;
    color: #FFFFFF;
    background-color: #282828;
    border-bottom: #FFFFFF solid 1px;
    margin-top: 60px;
}

.borderTwo__inputTwo{
    width: 100%;
    height: 30px;
    margin-top: 10px;
    border: none;
    color: #FFFFFF;
    background-color: #282828;
    border-bottom: #FFFFFF solid 1px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.section__four-borderTwoBtn{
    width: 100%;
    height: 50px;
    margin-top: 10px;
    border: #FFFFFF solid 1px;
    background-color: #282828;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;    
}

.section__four-borderThree{
    margin-right: -60px;
    margin-top: -70px;
}

.footer{
    width: 1920px;
    height: 220px;
    background: #998431;    
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__content{
    height: 120px;
    width: 1110px;
    display: flex;
    flex-direction: column;
}

.footer__contentOneLine{
    border: #FFFFFF solid 1px;
}

.footer__contentNav{
    width: 97%;    
}

.footer__contentNav ul{
    display: flex;
    /* gap: 50px; */
    align-items: center;
    justify-content: center;
    list-style: none;
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
}

li:not(:first-child) {
    padding-left: 59px;
}

.footer__contentContacts{
    display: flex;
    width: 90%;
    gap: 50px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.footer__contentContacts a{
    text-decoration: none;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;    
}

.footer__contentContactsLine{
    height: 50px;
    border-left: #FFFFFF solid 1px;
}